


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.crear-torneo {
  font-family: 'anton', sans-serif;
}

/* CrearTorneo.css */
.modal-backdrop {
  background-color: rgb(0, 0, 0) !important;
}

input, select, textarea {
  background-color: white;
  color: rgb(50, 48, 48);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); /* Cambia el color */
}