/* .dashboard-layout{
    width: 100% !important;
    height: 100vh!important;
} */

.dashboard-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sideBar {
  flex-shrink: 0; /* evita que se encoja */
}

.mainContent {
  flex-grow: 1; /* ocupa el resto del espacio */
  overflow-y: auto; /* permite scroll si el contenido crece */

}



/* Estilos comunes de graficas*/
.dashboard-container {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.dashboard-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #00a6a6;
  letter-spacing: 1px;
}

.charts-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
}

.charts-row > * {
  flex: 1 1 45%;
  min-width: 320px;
  background: #ffffff; /*2a2a2a*/
  border-radius: 8px;
  padding: 15px;
  border: 2px solid #00a6a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-full {
  margin-top: 40px;
  width: 100%;
  max-width: 1100px;
  background: #2a2a2a;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid #00a6a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-row > * {
  height: 320px;
}
